{% extends "base.html" %}
{% block content %}
<p>
Oprášeno je obchod se starožitnostmi, domácí kavárna a řemeslná dílna.
</p>
<p>
Přijďte k nám na návštěvu do prvorepublikového obývacího pokoje, ve kterém si vše od křesel, přes lampy, porcelán až po moka lžičku můžete koupit. Najdete u nás především český nábytek z meziválečného období, ale tu a tam se objeví i nějaké ty mladší, starší nebo cizokrajné kusy. Některé jsou již náročně zrestaurované, jiné zase čekají na renovaci podle Vašich představ. Použít se ale dají bez rozdílu všechny - křesla a stolky si můžete ozkoušet třeba u šálku kávy nebo skleničky vína.</p>
<p>
A protože je to u nás jako doma a čas tu plyne tak nějak postaru a pomaleji, nečekejte rychlé presso do kelímku ani zapečené panini. Místo toho si můžete užívat omamného pohodlí našich křesel, představovat si, kdo mohl pít z Vaší sklenice před 100 lety, nebo se námi nechat provést historií vystavených kusů i příběhy jejich renovace a vklouznout tak znovu a potají do zapovězenéhoaa “parádního” pokoje našich babiček.
</p>
{% endblock %}
