{% extends "base.html" %}
{% block content %}
<h2>Obývák</h2>
<p>
Půjčíme Vám obývák pro Vaše soukromé akce nebo jako ateliér fotografický či biografický.
</p>

<h2>Kancelář</h2>
<p>
Také se rády podělíme o naši reprezentativní kancelář ve stylu 30. let. Vhodná je například pro setkávání s klienty, konzultace, malé semináře či pracovní skupiny.  Psychoterapeuti  mají u nás dokonce výhodu odborného knižního zázemí.
</p>

<h2>Nábytek</h2>
<p>
Když budete opatrní, pronajmeme Vám na focení, filmování nebo dobrý dojem náš nábytek.
</p>

<h2>Válečky</h2>
<p>
Máme k zapůjčení spoustu starých i nových dekorativních dekorativních válečků. Některé vzorky najdete u nás v Oprášeno přímo na stěnách, celou nabídku pak zde.
</p>

Podmínky šijeme na míru, takže směle volejte, pište, přijďte.

{% endblock %}
