{% extends "base.html" %}
{% block content %}
<h2>Opravit</h2>
<p>
Opravit a oživit Váš starý nábytek. Skvrny od vody, horké konvice i stopy bujarého používaní zrestaurujeme tak, aby škoda byla napravena, ale Vy jste stále mohli v nábytku číst všechny jeho zážitky. Tam kde nestačí naše vlastní zázemí (složitější opravy konstrukcí a čalounění) povoláme odborníky, kteří s velkou péčí a znalostmi ošetří všechna slabá místa Vašeho oblíbeného kusu.
</p>

<h2>Vypátrat</h2>
<p>
Do našeho obchodu nikdy nevměstnáme všechny styly, značky ani modely. Proto, pokud máte před očima konkrétní kousek a na půdě Vaší babičky nebyl k nalezení, napište nám nebo se stavte, rády Vám pomůžeme s hledáním a zeptáme se našich ověřených zdrojů, které máme po celé České republice.
</p>

<h2>Poradit</h2>
<p>
Najdou se u nás křesla s potrhanými nebo jinak poničenými potahy případně úplně holé konstrukce. U těchto kusů máte příležitost být sami jejich designéry, ale rádi Vám s výběrem čalounění pomůžeme, k dispozici máme i vzorníky látek, které pro Vás můžeme objednat, a zajistit i čalounické práce.
</p>
<p>
Věříme, že starý nábytek má své místo i v moderně zařízených bytech. Dokáže dodat prostoru příběh, charakter i uměleckou hodnotu. Rádi Vám pomůžeme s výběrem zajímavých kusů, které budou Vašemu domovu slušet a porozumí si s ostatním Vaším zařízením.
</p>

<h2>Válečkovat</h2>
<p>
Objevily jsme si pro Oprášeno kouzlo dekorativního válečkování. Válečkujeme s chutí a fantazií a uděláme to i pro Vás. Přijďte se k nám poradit. Ukážeme Vám, že válečky neznají mezí, umí být výrazné i decentní a hodí se do každého interiéru.
</p>

<h2>Podmínky šijeme na míru, takže směle volejte, pište, přijďte.</h2>
{% endblock %}
