<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="static/css/style2.css">
  </head>
  <body data-spy="scroll" data-target="#navbar-parent">
    <div class="logo_circle">
      <img src="static/img/opraseno-logo-vertical.svg">
    </div>
    <div class="container-fluid main-container">

      <!-- Co jsme -->
      <div id="co_jsme" class="row section-label">
        <div id="co_jsme_content" class="row accented-section section-first">
          <div class="inner-section col-sm-10 offset-sm-1">
            <div class="row">
              <div class="col section-title">
                <h1>Co jsme</h1>
              </div>
            </div>
            <div class="row subsection">
              <div class="col-sm-4 section-left text-uppercase">
                Oprášeno je obchod se starožitnostmi, domácí kavárna a řemeslná dílna
              </div>
              <div class="col-sm-8">
                <p>
                  Přijďte k nám na návštěvu do prvorepublikového obývacího pokoje, ve kterém si vše od křesel, přes lampy, porcelán až po moka lžičku můžete koupit. Najdete u nás především český nábytek z meziválečného období, ale tu a tam se objeví i nějaké ty mladší, starší nebo cizokrajné kusy. Některé jsou již náročně zrestaurované, jiné zase čekají na renovaci podle Vašich představ. Použít se ale dají bez rozdílu všechny - křesla a stolky si můžete ozkoušet třeba u šálku kávy nebo skleničky vína.
                </p>
                <p>
                  A protože je to u nás jako doma a čas tu plyne tak nějak postaru a pomaleji, nečekejte rychlé presso do kelímku ani zapečené panini. Místo toho si můžete užívat omamného pohodlí našich křesel, představovat si, kdo mohl pít z Vaší sklenice před 100 lety, nebo se námi nechat provést historií vystavených kusů i příběhy jejich renovace a vklouznout tak znovu a potají do zapovězenéhoaa “parádního” pokoje našich babiček.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- section-label -->

      <!-- Co máme -->
      <div id="co_mame" class="row section-label">
        <div id="co_mame_content" class="row white-section">
          <div class="row no-side-margin">
            <div class="inner-section col-sm-10 offset-sm-1">
              <div class="row">
                <div class="col section-title">
                  <h1>Co máme</h1>
                </div>
              </div>
              <div class="row subsection">
                <div class="col-sm-4 section-left">
                  český nábytek
                </div>
                <div class="col-sm-8">
                  Zaměřujeme se na především na český nábytek z meziválečného období, ale najdete u nás i mladší, starší nebo cizokrajné kousky. Baví nás vracet tomuto nábytku jeho zašlý půvab a sledovat, jak dokáže vdechnout příběh a charakter každému interiéru.
                </div>
              </div>
            </div> <!-- inner-section -->
          </div> <!-- row -->
        </div> <!-- white-section -->
      </div> <!-- section-label -->
    </div> <!-- container-fluid main-container -->

    <div class="zbozi-carousel-container">
      <div class="zbozi-carousel">
        <a href="static/img/zbozi/aurelia1-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/aurelia1-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/bankerka1-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/bankerka1-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/cervena-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/cervena-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/ctyrlistek1-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/ctyrlistek1-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/hodiny1-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/hodiny1-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/hoffmann3-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/hoffmann3-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/hrebec1-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/hrebec1-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/hruska2-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/hruska2-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/kropacek1-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/kropacek1-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/kubimenaz2-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/kubimenaz2-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/kubimenaz6-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/kubimenaz6-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/lampalinka2-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/lampalinka2-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/menaz1-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/menaz1-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/modra2-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/modra2-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/nastenna_lampa1-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/nastenna_lampa1-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/panaky1-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/panaky1-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/podbirove1-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/podbirove1-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/podbirove2-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/podbirove2-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/rozkosny1-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/rozkosny1-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/rucnemalovany2-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/rucnemalovany2-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/sklenicky2-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/sklenicky2-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/stojaci_lampa2-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/stojaci_lampa2-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/trun3-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/trun3-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/vajicka5-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/vajicka5-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/vazamodra1-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/vazamodra1-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/zardiniera4-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/zardiniera4-small.jpg"></div>
        </a>
        <a href="static/img/zbozi/zidle1-popup.jpg">
          <div class="zbozi-item"><img src="static/img/zbozi/zidle1-small.jpg"></div>
        </a>
      </div> <!-- zobozi-carousel -->
    </div> <!-- zbozi-carousel-container -->

    <div class="container-fluid main-container">
      <!-- Co půjčujeme -->
      <div id="co_pujcujeme" class="row section-label">
        <div id="co_pujcujeme_content" class="row white-section">
          <div class="inner-section col-sm-10 offset-sm-1">
            <div class="row">
              <div class="col section-title">
                <h1>Co půjčujeme</h1>
              </div>
            </div>
            <div class="row subsection">
              <div class="col-sm-6 col-xl-3">
                <div class="card">
                  <a class="popup-link" href="static/img/obyvak-popup.jpg">
                    <img class="card-img-top img-pujcujeme" src="static/img/obyvak-small.jpg" alt="kancelář">
                  </a>
                  <div class="card-block">
                    <h2 class="card-title">Obývák</h2>
                    <p>
                      Půjčíme Vám obývák pro Vaše soukromé akce nebo jako ateliér fotografický či biografický.
                    </p>
                  </div> <!-- card-block -->
                </div> <!-- card -->
              </div> <!-- col-sm-x -->
              <div class="col-sm-6 col-xl-3">
                <div class="card">
                  <a class="popup-link" href="static/img/kancelar-popup.jpg">
                    <img class="card-img-top img-pujcujeme" src="static/img/kancelar-small.jpg" alt="kancelář">
                  </a>
                  <div class="card-block">
                    <h2 class="card-title">Kancelář</h2>
                    <p>
                      Také se rády podělíme o naši reprezentativní kancelář ve stylu 30. let. Vhodná je například pro setkávání s klienty, konzultace, malé semináře či pracovní skupiny. Psychoterapeuti mají u nás dokonce výhodu odborného knižního zázemí.
                    </p>
                  </div> <!-- card-block -->
                </div> <!-- card -->
              </div> <!-- col-sm-x -->
              <div class="col-sm-6 col-xl-3">
                <div class="card">
                  <a class="popup-link" href="static/img/nabytek-popup.jpg">
                    <img class="card-img-top img-pujcujeme" src="static/img/nabytek-small.jpg" alt="kancelář">
                  </a>
                  <div class="card-block">
                    <h2 class="card-title">Nábytek</h2>
                    <p>
                      Když budete opatrní, pronajmeme Vám na focení, filmování nebo dobrý dojem náš nábytek.
                    </p>
                  </div> <!-- card-block -->
                </div> <!-- card -->
              </div> <!-- col-sm-x -->
              <div class="col-sm-6 col-xl-3">
                <div class="card">
                  <a class="popup-link" href="static/img/obyvak-popup.jpg">
                    <img class="card-img-top img-pujcujeme" src="static/img/obyvak-small.jpg" alt="kancelář">
                  </a>
                  <div class="card-block">
                    <h2 class="card-title">Válečky</h2>
                    <p>
                      Máme k zapůjčení spoustu starých i nových dekorativních dekorativních válečků. Některé vzorky najdete u nás v Oprášeno přímo na stěnách, celou nabídku pak zde.
                    </p>
                  </div> <!-- card-block -->
                </div> <!-- card -->
              </div> <!-- col-sm-x -->
            </div>
          </div>
        </div>
      </div> <!-- section-label -->

      <!-- Co umíme -->
      <div id="co_umime" class="row section-label">
        <div id="co_umime_content" class="row accented-section">
          <div class="inner-section col-sm-10 offset-sm-1">
            <div class="row">
              <div class="col section-title">
                <h1>Co umíme</h1>
              </div>
            </div>

            <!-- Opravit -->
            <div class="row subsection">
              <div class="col-sm-4 section-left">
                Opravit
              </div>
              <div class="col-sm-8">
                Opravit a oživit Váš starý nábytek. Skvrny od vody, horké konvice i stopy bujarého používaní zrestaurujeme tak, aby škoda byla napravena, ale Vy jste stále mohli v nábytku číst všechny jeho zážitky. Tam kde nestačí naše vlastní zázemí (složitější opravy konstrukcí a čalounění) povoláme odborníky, kteří s velkou péčí a znalostmi ošetří všechna slabá místa Vašeho oblíbeného kusu.
              </div>
            </div>

            <!-- Vypátrat -->
            <div class="row subsection">
              <div class="col-sm-4 section-left">
                Vypátrat
              </div>
              <div class="col-sm-8">
                Do našeho obchodu nikdy nevměstnáme všechny styly, značky ani modely. Proto, pokud máte před očima konkrétní kousek a na půdě Vaší babičky nebyl k nalezení, napište nám nebo se stavte, rády Vám pomůžeme s hledáním a zeptáme se našich ověřených zdrojů, které máme po celé České republice.
              </div>
            </div>

            <!-- Poradit -->
            <div class="row subsection">
              <div class="col-sm-4 section-left">
                Poradit
              </div>
              <div class="col-sm-8">
                <p>
                  Najdou se u nás křesla s potrhanými nebo jinak poničenými potahy případně úplně holé konstrukce. U těchto kusů máte příležitost být sami jejich designéry, ale rádi Vám s výběrem čalounění pomůžeme, k dispozici máme i vzorníky látek, které pro Vás můžeme objednat, a zajistit i čalounické práce.
                </p>
                <p>
                  Věříme, že starý nábytek má své místo i v moderně zařízených bytech. Dokáže dodat prostoru příběh, charakter i uměleckou hodnotu. Rádi Vám pomůžeme s výběrem zajímavých kusů, které budou Vašemu domovu slušet a porozumí si s ostatním Vaším zařízením.
                </p>
              </div>
            </div>

            <!-- Válečkovat -->
            <div class="row subsection">
              <div class="col-sm-4 section-left">
                Válečkovat
              </div>
              <div class="col-sm-8">
                Objevily jsme si pro Oprášeno kouzlo dekorativního válečkování. Válečkujeme s chutí a fantazií a uděláme to i pro Vás. Přijďte se k nám poradit. Ukážeme Vám, že válečky neznají mezí, umí být výrazné i decentní a hodí se do každého interiéru.
              </div>
            </div>

            <!-- Podmínky šijeme na míru -->
            <div class="row subsection">
              <div class="col-sm-8 offset-sm-4">
                <h2>Podmínky šijeme na míru, takže směle volejte, pište, přijďte.</h2>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Contakt -->
      <div id="contakt" class="row section-label">
        <div id="contakt_content" class="row white-section">
          <div class="inner-section col-sm-10 offset-sm-1">
            <div class="row">
              <div class="col section-title">
                <h1>Contakt</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 map-div">
                <!-- <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJfeLOvKaUC0cR0anEqYwFuf4&key=AIzaSyAYM_XYMyfrc-i847RTtvO1ooYteGtxJV8" allowfullscreen></iframe> -->
                <iframe width="100%" height="300px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJfeLOvKaUC0cR0anEqYwFuf4&key=AIzaSyAYM_XYMyfrc-i847RTtvO1ooYteGtxJV8" allowfullscreen></iframe>
              </div>
              <div class="col-md-4">
                <h3>Oprášeno s.r.o.</h3>
                <br>
                Březinova 17<br>
                Praha 8 - Karlín<br>
                186 00<br>
                <!-- Veronika Benesova a Bohunka -->
              </div>
              <div class="col-md-4">
                Telefon: 776 531 151<br>
                e-mail: <a class="underline" href="mailto:opraseno@opraseno.cz">opraseno@opraseno.cz</a><br>
                <br>
                IČ: 055 291 31<br>
                <br>
                otevřeno: po-čt <span class="nowrap">15:00-20:00</span><br>
                (v jiné časy podle domluvy)
              </div>
            </div>
          </div>
        </div> <!-- row white-section -->
      </div> <!-- section-label -->

    </div> <!-- container-fluid -->

    <div id="navbar-parent"> <!-- for scrollspy -->
      <nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse">
        <!-- <div class="container"> -->
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Navigacni tlacitko">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="d-flex w-100">
            <a class="navbar-brand mr-0 logo_navbar" href="#">
              <img src="static/img/logo_white_thick.svg">
              Oprášeno
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav pull-sm-right  mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="#co_jsme">Co&nbsp;jsme</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#co_mame">Co&nbsp;máme</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#co_pujcujeme">Co&nbsp;půjčujeme</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#co_umime">Co&nbsp;umíme</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contakt">Contakt</a>
              </li>
            </ul>
          </div>
          <div class="d-flex w-100 navbar-padding">
            &nbsp;
          </div>
        <!-- </div> -->
      </nav>
    </div> <!-- navbar-parent -->

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha256-P93G0oq6PBPWTP1IR8Mz/0jHHUpaWL0aBJTKauisG7Q=" crossorigin="anonymous"></script>
    <script src="static/js/script.js"></script>

    <!--  google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83971655-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
