{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-4 address">
    <br><br>
    Oprášeno s.r.o.<br>
    <br>
    Březinova 17<br>
    Praha 8 - Karlín<br>
    186 00<br>
    <br>
    <a target="_blank" class="underline" href="https://www.google.cz/maps/place/B%C5%99ezinova+465%2F17,+186+00+Praha+8-Karl%C3%ADn/@50.0933011,14.4541988,17z/data=!3m1!4b1!4m5!3m4!1s0x470b94a6bccee3bd:0xb82f721ec583355b!8m2!3d50.0933011!4d14.4563875">mapa</a>
    <br><br>
    Telefon: 776 531 151<br>
    e-mail: <a class="underline" href="mailto:opraseno@opraseno.cz">opraseno@opraseno.cz</a><br>
    <br>
    IČ: 055 291 31<br>
    <br>
    otevřeno: po-čt <span class="nowrap">15:00-20:00</span><br>
    (v jiné časy podle domluvy)
  </div>
  <div class="col-sm-8">
    <img class="map" src="static/img/mapa.svg" alt="mapa">
  </div>
</div>
{% endblock %}
